{% extends 'base.html.twig' %}
{% block body %} 
    <h1 class="display-6 small text-center">Crud de Pessoas e Contatos</h1>
    <a href='{{ path('consultaContatos') }}'  class='btn btn-primary'>Contatos</a>
    <a href='{{ path('consultaPessoas') }}'  class='btn btn-primary'>Pessoas</a>
{% endblock %}